.custom-width {
    width: 800px;
    margin: 0 auto;
}
.custom-width-login {
    width: 500px;
    margin: 0 auto;
}
.custom-width-breadcrumb {
    width: 1000px;
    margin: 0 auto;
}
.profile_photo_wrapper {
    width: 200px;
    height: 150px;
    display: none;
}
.profile_photo_wrapper img {
    max-width: 100%;
    height: 100%;
}
.breadcrumb {
    background: none;
}
.breadcrumb li {
    cursor: pointer;
    color: #888 !important;
    font-weight: bold;
    font-size: 1em;
    transition: all .5s;
}
.breadcrumb li.active {
    color: #fff !important;
    background: #888;
    box-sizing: border-box;
    padding: 2px 4px;
    border-radius: 7px;
}
.breadcrumb li::after {
    content: '';
}
.breadcrumb li+li::before {
    content: '/' !important;
}
.breadcrumb li.active::before {
    content: '' !important;
}
.row.step {
    transition: all .5s;
}